/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.quiz {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg);
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.quiz h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 25px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  transition: all 0.3s;
}

.option:hover {
  border-color: #aaa;
}

.option-label {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #666;
}

.option.selected {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #333;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #555;
} */

.App {
  padding-top: 60px; /* Adjust this to match the navbar height */
}
